*{
    margin: 0;
    padding: 0;
}
body{
    background-color: darkslategrey;
}
.main{
color: beige;
font: bold;
font-size: 3rem;
text-align: center;
margin-top: 20px;
}
.container{
    color: bisque;
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
}
.btn{
    align-items: center;
    text-align: center;
   display: block;
   justify-content: center;
   
}
a{

    color: rgb(134, 134, 102);
    gap: 10px;
    font-size: 1.5rem;
    display: block;
    margin: 10px;
}
.footer{
    background-color: black;
    color: bisque;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 100%;
}
@media screen and (max-width: 800px){
body{
    align-items: center;
}

    .main{
        font-size: 3rem;
        text-align: center;
        align-items: center;
        margin: 5%;
        width: 90%;
    }
    .container{
        text-align: center;
        align-items: center;
        width: 75%;
    }
    .btn{
        align-items: center;
        margin-right: 30%;
        width: 75%;
        text-align: center;
        align-items: center;
        margin-left: 9%;
    }
    button{
        align-items: center;
        text-align: center;
        height: 60px;
        width: 40%;
  
    }
    .footer{
        background-color: black;
        color: bisque;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        height: 100%;
        width: 100%;
    }
}