*{
    margin: 0;
    padding: 3px;
}



body{
    background-color: #124e66;
    color: #FFF;
}
h1{
   
    font-size: 14rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
h2{
    font-size: 5rem;
    font-family: Times New Roman;
}
h3{
    font-size: 4rem;
}
.social{
    display: flex;
    justify-content: space-around;
}
img{
    height: 200px;
    width: 300px;
    background-blend-mode: lighten;
    border-radius: 20px;
}
h4{
    font-size: 2rem;
    align-items: center;
}
p{
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
}
h1:hover{
    color: black;
}
footer{
    height: 50px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
    text-align: center;
   font-family: montserrat;
}


@media only screen and (max-width: 900px){
.social{
    flex-direction: column;
  align-items: center;
   
   width: 100%;
}
h1{
    flex-direction: column;
    font-size: 3.5rem;
    text-align: center;
    align-items: center;
}
h1:hover{
    color: black;
}
img{
    width: 70%;
    text-align: center;
    align-items: center;
    padding: 40px;
    border-radius: 20px;
}
.second{
    font-size: 2rem;
    align-items: center;
    text-align: center;
    width: 100%;
}
h3{
    font-size: 2rem;
    width: 100%;
    margin-top: 10px;
}
.para{
    flex-direction: row;
    text-align: center;
    width: 100%;
}
h4{
    text-align: center;
}
footer{
    width: 100%;
    text-align: center;
    height: 100%;
}
}